<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1063494646037-l4m8pkgkgsugrvghest6qu3r92qdeo5f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1063494646037-l4m8pkgkgsugrvghest6qu3r92qdeo5f</string>
	<key>API_KEY</key>
	<string>AIzaSyD93PyQOzAA5Xpl_mkRq5589U-hnIKb-HM</string>
	<key>GCM_SENDER_ID</key>
	<string>1063494646037</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>WAM.LKS</string>
	<key>PROJECT_ID</key>
	<string>lks-2018</string>
	<key>STORAGE_BUCKET</key>
	<string>lks-2018.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1063494646037:ios:4975a75fccb0e63f</string>
	<key>DATABASE_URL</key>
	<string>https://lks-2018.firebaseio.com</string>
</dict>
</plist>